<div class="mt-4">
    <h2>Tạo khóa học</h2>
    <form method="POST" action="/courses/store">
        <div class="form-group">
            <label for="name">Tên khóa học</label>
            <input type="text" class="form-control" name="name">
        </div>
        <div class="form-group">
            <label for="description">Mô tả</label>
            <input type="text" class="form-control" name="description">
        </div>
        <div class="form-group">
            <label for="videoID">Video ID</label>
            <input type="text" class="form-control" name="videoID">
        </div>
        <div class="form-group">
            <label for="lever">Trình độ</label>
            <input type="text" class="form-control" name="lever">
        </div>
        <button type="submit" class="btn btn-primary">Tạo khóa học</button>
    </form>
</div>